@charset "UTF-8";

body {
  background-color: #e7e7eb;
  width: 50%;
  margin: 0 auto;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

@media screen and (max-width: 767px) {
  body {
    width: 100%;
    float: left !important;
    padding: 10px !important;
  }
}

.mainlink {
  color: #000000;
  text-decoration: none;
}

.link {
  color: #eb6101;
}

.sns-ul {
  color: #165e83;
  list-style-type: none;
  padding: 0.05em 0;
}

li.midashi {
  font-size: 150%;
  list-style-type: none;
  line-height: 1.5;
}

ul.midashi {
  padding-left: 0;
}

.midashi2 {
  font-size: 130%;
  list-style-type: none;
  color: #1e366a;
  border-top: solid #1e366a 1px;
  border-bottom: solid #1e366a 1px;
  padding: 0.5em 0 0.5em 1.5em;
}

li.midashi2 {
  padding-left: 0;
}

.argli {
  color: #165e83;
  list-style-type: none;
  padding: 0 0;
}

.ullist {
  padding-left: 0px;
}
