@charset "UTF-8";

body {
  background-color: #e7e7eb;
  width:50%;
  margin:0 auto;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.mainlink {
  color: #000000;
  text-decoration: none;
}

.link {
  color: #eb6101;
}

.sns-ul {
  color: #165e83;
  list-style-type: none;
}

.midashi {
  font-size: 150%;
  list-style-type: none;
}

.midashi2 {
  font-size: 130%;
  list-style-type: none;
  /* border-left: solid 6px #2d8fdd;
  background: #f1f8ff;
  margin-bottom: 3px;
  line-height: 1.5;
  padding: 0.5em; */
  color: #1e366a;
  border-top: solid #1e366a 1px;/*上のボーダー*/
  border-bottom: solid #1e366a 1px;/*下のボーダー*/
  padding: 0.5em 0 0.5em 1.5em;
}

.argli {
  color: #165e83;
  list-style-type: none;
}
